{% extends 'base.html.twig' %}

{% block title %} Show {% endblock %}

{% block body %}

    <div class="container-fluid">
        
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <h1>{{post.rubrik.name|capitalize}}
                            </h1>
                        </div>
                        <div class="col-md-12 my-3">
                            {{post.createdAt|date('D d M Y')}}
                            
                        </div>
                        <div class="col-md-12 my-3">
                             <img class="roundedImage" src="{{asset('divers/avatars/' ~ post.user.avatar)}}" alt=""/>&emsp;
                                {{post.user.firstname|capitalize}} {{post.user.lastname|upper}} &emsp; {{post.user.city}}
                        </div>
                        <div class="col-md-12 my-3">
                            <h2>{{post.title}}
                            </h2>
                        </div>
                        <div class="col-md-12 my-3">
                            {% if (post.photo is empty) %}
                            
                            
                            {% else %}

                               <img class="my-3  d-flex" src="{{asset('divers/images/' ~ post.photo)}}" alt="Mon image"/>
                            
                            {% endif %}

                            <div class="card mb-4">
                        </div>
                            <div class="card-body">
                        <div class="col-md-12 my-3">
                            <h2>{{post.content1|raw}}
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                    {% if post.comment|length < 1 %}
                        <p>Il n'y a pas encore de commentaires pour ce post. Soyez le premier à commenter...</p>
                    {% else %}
                        <p>{{ post.comment|length }} Commentaire(s)</p>
                    {% endif %}
                </div>

                <div class="row mb-5">
                    {% if app.user %}
                        <button id="toggle-comment-form" class="col-md-4 btn btn-lg btn-success mb-3">
                            Ajouter un commentaire
                        </button>
                        <div id="comment-form-container" style="display: none;">
                            {{ form_start(comment_form) }}
                            {{ form_widget(comment_form.content) }}
                            {{ form_errors(comment_form.content) }}
                            {{ form_widget(comment_form.save) }}
                            {{ form_end(comment_form) }}
                        </div>
                    {% else %}
                        <p><a href="{{ path('app_login') }}">Connectez-vous</a> pour laisser un commentaire.</p>
                    {% endif %}
                </div>

                <div class="row">
                    <button id="toggle-comments" class="col-md-4 btn btn-lg btn-primary mb-3">
                        Lire les commentaire(s)
                    </button>
                    <div id="comments-container" style="display: none;">
                        {% for comment in comments %}
                            <div class="comment mb-3">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img class="img-fluid imgkx" src="{{ asset('divers/avatars/' ~ comment.user.avatar) }}" alt="avatar"/>
                                    </div>
                                    <div class="col-md-8 pt-2 userName">{{ comment.user.pseudo|capitalize }}</div>
                                    <div class="col-md-2 text-end">{{ comment.createdAt|date('H:i') }}</div>
                                </div>
                                <div class="col-md-12" style="padding-left:75px;font-size:1.3em;">
                                    {{ comment.content|capitalize }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="row m-2 p-2" style="border-bottom:solid 2px;">
                   {% for posts2 in posts2 %}
                    <div class="row">
                        
                        <div class="col-md-12 m-3">
                            <h6>{{posts2.rubrik.name|capitalize}}
                            </h6>
                    <a class="col-md-5 my-3" href="{{path('show', {id: posts2.id})}}">
                        <img class="my-3  d-flex imgPost2" src="{{asset('divers/images/' ~ posts2.photo)}}" alt="Mon image"/>
                    </a >
                        </div>
                        <a class="col-md-12 my-3 title" href="{{path('show', {id: posts2.id})}}">
                            <h5>{{posts2.title}}</h5>
                        </a>
                    </div>
                    
                   {% endfor %}
                </div>
            </div>
        </div>

    </div>

<script>
    document.getElementById('toggle-comment-form').addEventListener('click', function() {
        var formContainer = document.getElementById('comment-form-container');
        formContainer.style.display = formContainer.style.display === 'none' || formContainer.style.display === '' ? 'block' : 'none';
    });

    document.getElementById('toggle-comments').addEventListener('click', function() {
        var commentsContainer = document.getElementById('comments-container');
        commentsContainer.style.display = commentsContainer.style.display === 'none' || commentsContainer.style.display === '' ? 'block' : 'none';
    });
</script>
{% endblock %}