{% extends 'base.html.twig' %}

{% block title %} Rubrik {% endblock %}

{% block body %}

{% for posts in posts %}
                    <a class="col-md-5 my-3" href="{{path('show', {id: posts.id})}}">
                        <img class="my-3  d-flex imgPost2" src="{{asset('divers/images/' ~ posts.photo)}}" alt="Mon image"/>
                    </a >
                    <div class="col-md-7 my-3">
                    <div class="row">
                        
                        <div class="col-md-12 my-3">
                            <h1>{{posts.rubrik.name|capitalize}}
                            </h1>
                        </div>
                        <a class="col-md-12 my-3 title" href="{{path('show', {id: posts.id})}}">
                            <h2>{{posts.title}}</h2>
                        </a>
                        <div class="col-md-12 mb-3">
                           <h3> {{posts.content1}}</h3>
                        </div>
                        <div class="col-md-12 mb-3">
                            {{posts.createdAt|date('D d M Y ')}}
                        </div>
                        <img class="roundedImage" src="{{asset('divers/avatars/' ~ posts.user.avatar)}}" alt=""/>&emsp;
                        {{posts.user.firstname|capitalize}} {{posts.user.lastname|upper}} &emsp; {{posts.user.city}}
                    </div>
                    
                    </div>
{% endfor %}

{% endblock %}